@model TuneMax.Models.UsersBasket

@{
    ViewBag.Title = "تائید خرید کالا";
}
<div class="error">
    با کلیک بر روی دکمه "ارسال خرید برای ادمین" خرید شما انجام و با شما تماس گرفته خواهد شد.
    <br/>
    @Session["fullname"] عزیز، لطفا از صحت اطلاعات پروفایل اطمینان حاصل فرمائید.
</div>
<h2>تائید خرید کالا</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>سبد خرید</legend>
        <div class="C1">
            <div class="C2">@ViewBag._ProductTitle</div>
            <div class="C3"><img src="@ViewBag._ProductImage" title="@ViewBag._ProductTitle" /></div>
            <div class="C4">@H_Dollar.HDollarToToman(Convert.ToInt32(ViewBag._ProductPrice)) تومان</div>
        </div>
        <p>
            <input type="submit" value="ارسال خرید برای ادمین ها" />
        </p>
    </fieldset>
}
@if (ViewBag.Message != null)
{
    <div class="error">
        @ViewBag.Message
    </div>
}