@model TuneMax.Models.Users

@{
    ViewBag.Title = "تغییر کلمه عبور";
}

<h2>تغییر کلمه عبور</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Session["username"]</legend>

        <div class="editor-label">
            پسورد گذشته
        </div>
        <div class="editor-field">
            @Html.Password("old_password")
        </div>

        <div class="editor-label">
            پسورد جدید
        </div>
        <div class="editor-field">
            @Html.Password("password")
        </div>

        <div class="editor-label">
            تکرار پسورد جدید
        </div>
        <div class="editor-field">
            @Html.Password("confirm_password")
        </div>

        <p>
            <input type="submit" value="ذخیره" />
        </p>
    </fieldset>
}

@if (!Request.IsAjaxRequest())
{
    <div>
        @Html.ActionLink("بازگشت", "Index")
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="error">
        @ViewBag.Message
    </div>
}