@model TuneMax.Models.News

@{
    ViewBag.Title = "حذف";
}

<h2>حذف</h2>

<h3>آیا از حذف کردن این رکورد اطمینان دارید؟</h3>
<fieldset>
    <legend>اخبار</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Abstract)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abstract)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsGroup.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsGroup.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.FirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="حذف" />
@if (!Request.IsAjaxRequest())
{
        <div>
            @Html.ActionLink("بازگشت", "Index")
        </div>
}

    </p>
}
