@model TuneMax.Models.Comment

@{
    ViewBag.Title = "نظر دهی";
}

<h2>نظر دهی</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>نظر</legend>

        @if (Session["username"] == null){ 
        <div class="editor-label">
            ایمیل @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <p>
            <input type="submit" value="ارسال" />
        </p>
    </fieldset>
}